body {
    font-family: Roboto, sans-serif;
  }
  
.container {
    padding: 0 40px;
    margin-left: 80px;
    background-color: rgb(167, 204, 219);
  }
  
    /* Свойства ссылок */
a {
    display: block;
    text-decoration:none;
    margin-bottom: 1.2em;
    position: relative;
    color: #19247b;
  }
  
    /* При наведении на ссылку */
a:hover {
    color:#2e727b;
  }
  
    /* Этим свойством добавляем подчеркивание через создание псевдокласса */
a::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    transform: translateY(1.5em);
    border-bottom: 1px solid #dadada;
    width: 300px;
  }
  
h1 {
    font-size: 1,25em;
    color: rgb(30, 36, 92);
  }
  
h2 {
    font-size: 1.5em;
    margin: 1.25em 0;
    color: rgb(30, 36, 92);
  }
  
p {
    font-style: italic;
  }
  
.b {
  background-color:#717fe9;
  border: 3px solid #717fe9;
  }
  
h3{
    font-size: 1.5em;
    margin: 1.25em 0;
    color: rgb(30, 36, 92);
  }
    /* Свойства фотографии*/
.photo {
    border-radius: 50px;
    border: 2px solid transparent;
    box-shadow: 0 4px 15px 0px rgba(0, 0, 0, 0.52);
    object-fit: cover;
  }
  
.photo:hover {
    border: 3px solid #717fe9;
  }